<div class="row">
  <div class="col-md-20">
    <img src="{{ selectedRecipe?.imgsource }}" class="img-fluid rounded" alt="">
  </div>
</div>
<div class="row">
    <div class="col-md-20">
      <h1 class="display-2">{{ selectedRecipe?.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="button">edit</button>
      <button class="btn btn-danger" type="button">delete</button>
      <button class="btn btn-info" type="button">print</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-20">
     <p>{{ selectedRecipe?.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-20">
     <p>Zutaten</p>
    </div>
</div>